<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bluebird_tech.puffin" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a510f225c4cfac6ebc7eb21d408a7bb9dbbf263e" />

        <activity
            android:name=".StressActivity_"
            android:label="@string/app_name"
            android:parentActivityName=".TensionListActivity_"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".RepeatingAlarmReceiver_"
            android:enabled="true"
            android:exported="true" >
        </receiver>
        <receiver
            android:name=".RandomAlarmReceiver_"
            android:enabled="true"
            android:exported="true" >
        </receiver>
        <receiver android:name=".TensionInputNotificationDeleteReceiver_" />

        <activity
            android:name=".TensionListActivity_"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".EventUploaderService_"
            android:exported="false" >
        </service>

        <activity
            android:name=".SettingsActivity_"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".TensionListActivity_">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bluebird_tech.puffin.TensionListActivity_" />
        </activity>
        <activity
            android:name=".EmotionInputActivity_"
            android:label="@string/title_activity_emotion_input"
            android:parentActivityName=".TensionListActivity_">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bluebird_tech.puffin.TensionListActivity_" />
        </activity>
    </application>

</manifest>
